h1, h2 {
  color: darkred;
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
  padding-left: 1rem;
}

.img {
  background-image: url('./../img/our-family.jpg');
  background-size: 100% 100%;
  background-size: cover;
  height: 400px;
  margin: 0;
  float: right;
}


.text-container {
  padding: 4rem 1rem 2rem 1rem;
  max-height: 400px;
  overflow: scroll;
}

#card-from {
  float: right;
  padding-right: 1rem;
}