

body {
    margin: auto;
    padding: 4rem;
    font-family: 'Roboto Slab', serif;
}

#card-container {
    margin: auto;
    max-width: 800px;
    min-height: 400px;
    border: 1px solid grey;
}

